@font-face {
    font-family: 'Suisse';
    src: url('suisse.otf');
}


body{
    margin: 0;
    padding: 0;
    width: 100%;
    margin: auto;
    font-family: 'Suisse', sans-serif;
    background-color: #3001bf;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

header a {
    color: white;
    text-decoration: none;
}

.logo{
    height: 90vh;
    display: flex;
}

.logo-holder{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo img, .logo-holder div{
    margin: auto;
}